<div class="col-xs-12">
    <h2>{{title}}</h2>
    <p>Mis a jour : {{ lastUpdate | async}}</p>

    <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils;let i = index" [appareilName]="appareil.name"
            [appareilStatus]="appareil.status" [indexOfAppareil]="i" [id]="appareil.id"> </app-appareil>
        <!--  <app-appareil [appareilName]="appareilone" [appareilStatus]="'eteint!'"></app-appareil>
          <app-appareil [appareilName]="appareiltwo" [appareilStatus]="'allumé!'"></app-appareil>
          <app-appareil [appareilName]="appareilthree" [appareilStatus]="'eteint!'"></app-appareil>
       -->
    </ul>
    <br>
    <div>
        <button style="margin-bottom: 10px;" class="btn btn-success" [disabled]="!isAuth"
            (click)="onAllumer($event.target)">Tout allumer</button>
        <button style="margin-right: 10px; margin-bottom: 10px;" class="btn btn-danger" [disabled]="!isAuth"
            (click)="onEteindre($event.target)">Tout Eteindre</button>
        <button class="btn btn-success" (click)="onSave()">Enregistrer</button>
        <button class="btn btn-primary" (click)="onFetch()">Charger</button>
    </div>
</div>